/*
$color1: rgba(54, 169, 225, 1);
$color2: rgba(231, 29, 115, 1);
$color3: rgba(54, 53, 55, 1);
$color4: rgba(44, 19, 32, 1);
$color5: rgba(95, 75, 102, 1);
*/

body {
    margin: 0 auto;
    padding: 0 1em;
    color: rgba(54, 53, 55, 1);
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: "Quicksand", sans-serif;
}

h1 {
    margin: 1em 0 0 0;
    font-size: 32px;
    color: rgba(44, 19, 32, 1);
}

h2 {
    margin: 1em 0 0 0;
    font-size: 24px;
}

h3 {
    margin: 1em 0 0 0;
    font-size: 18px;
}

p {
    margin: 1em 0 0 0;
}

a {
    color: rgba(231, 29, 115, 1);
    text-decoration: underline;
}

blockquote {
    margin: 1em 0 0 0;
    padding: 0 0 0 18px;
    border-left: 0.2em solid rgba(95, 75, 102, 1);
    font-size: 18px;
    color: rgba(95, 75, 102, 1);
}

header, section, footer {
    margin: 2em 0;
}

header {
    position: relative;
}

header > * {
    display: inline;
    vertical-align: middle;
}

.header__logo {
    font-size: 72px;
    width: 1em;
    height: 1em;
}

.header__title {
    margin-left: 0.5em;
    font-size: 72px;
}

.header__links {
    position: absolute;
    top: 0;
    right: 0;
}

.header__links img {
    width: 1.5em;
}

.header__npm img {
    width: 2em;
}

.header__links a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

.intro__fgp-example {
    text-align: center;
}

.intro__fgp-example > img {
    width: 100%;
}

footer {
    color: rgba(95, 75, 102, 1);
}

@media screen {
    body {
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 666px) {
    body {
        width: 375px;
    }
}

@media screen and (min-width: 667px) {
    body {
        width: 667px;
    }

    .projects > div {
        float: left;
        width: 50%;
        padding-right: 10px;
    }

    .projects > div:last-child {
        padding-right: 0;
    }

    .projects::after {
        content: "";
        display: block;
        clear: both;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 1024px;
        font-size: 22px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    blockquote {
        font-size: 24px;
    }

    .header__logo {
        font-size: 96px;
    }

    .header__title {
        font-size: 96px;
    }

    .intro__fgp-example > img {
        width: 80%;
    }
}
